.card{
    background-color: $color11;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid transparent;
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: column;
    transition: .3s;
    .c-number{
        font-family: $roboto;
        font-size: 14px;
        color: $color19;
        font-style: normal;
        font-weight: bold;
        margin: 10px 0px;
    }
    .c-sprite{
        width: 70px;
        height: 70px;
        margin: 10px auto;
        object-fit: contain;
    }
    .c-title{
        margin: 0px 0px 20px 0px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }
    &:hover{
        transition: .3s;
        background-color: $color10;
        border: 3px solid $color23;

    }
}