@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$roboto: 'Roboto', sans-serif;

$color10:    #fff;
$color11:    #FAFAFA;
$color12:    #D4D4D4;
$color18:    #303030;
$color19:    #392929;
$color20:    #000; 

$color21:    #FF7247;
$color22:    #FF5138;
$color23:    #08EA7D;
$color24:    #F00000;
$color25:    #08BC66;